<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <title>Menu</title>
</head>
<body>
    <header>
        <h2>LunArt Beauty</h2>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <nav class="fondo">
            <ul id="nav-menu">
                <li><a href="{{ url_for('categoria.index_cliente') }}">CATALOGOS</a></li>
                <li><a href="{{ url_for('contact.enviar_contacto') }}">CONTACTO</a></li>
                <li><a href="{{ url_for('servicio.index') }}">SERVICIOS</a></li>
                <li><a href="{{ url_for('cita.index_user') }}">CITAS</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}"><label class="letra" for="user1"><img class="icon" src="static/img/user.svg" alt=""></label></a></li>
            </ul>
        </nav>    
    </header>

    <div class="header-content container">
        <div class="header-img">
            <img class="img-1" src="{{ url_for('static', filename='img/20.png') }}" alt="shampos">
        
        </div>
        
        <div class="header-txt">
            <h1>TU BELLEZA, NUESTRO COMPROMISO</h1>
            <p>"Descubre lo mejor de nuestros servicios y productos."</p>
            <a href="{{ url_for('categoria.index_cliente') }}"class ="btn-1">informacion</a>
        
        </div>

    </div>
    
    <script>
        function toggleMenu() {
            var menu = document.getElementById("nav-menu");
            menu.classList.toggle("show");
        }

        function toggleDropdown(id) {
            var dropdown = document.getElementById(id);
            dropdown.classList.toggle("show");
        }
    </script>
</body>
</html>