<html></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='editservicio.css')}}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Editar Servicios</title>
</head>
<body>
    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/estilistaa.png') }}" alt="usuario">
                </div>
            </div>
            <div class="campos">
            <ul>
                <li>
                    <a href="{{ url_for('estilistas.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/tijeras.png') }}" alt="Inicio">
                        ESTILISTAS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">

                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('menu.ruta_perfil') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/campana.png') }}" alt="Inicio">

                        NOTIFICACIONES STOCK
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cita.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">

                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('servicio.index_admin') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/servicio.png') }}" alt="Inicio">

                        SERVICIOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.lista_usuarios') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/personas.png') }}" alt="Inicio">
                        LISTA CLIENTES
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>

        <div class="content">
            <h1>EDITAR SERVICIOS</h1>
            <form action="{{ url_for('servicio.edit', idservicio=servicio.idservicio) }}" method="POST">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen" accept="image/*">
                {% if servicio.imagen %}
                    <img src="{{ url_for('static', filename='uploads/' ~ servicio.imagen) }}" alt="{{ servicio.nombre }}" width="100">
                {% endif %}
                <label for="name">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ servicio.nombre }}">
                <label for="name">Descripcion:</label>
                <input type="text" id="descripcion" name="descripcion" value="{{ servicio.descripcion }}">
            
                <button class="boton" type="submit">ACTUALIZAR</button>
            </form>
            
            
        </div>
    </div>
</body>
</html>