<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexadmin.css') }}">
    <title>Servicios</title>
</head>
<body>
    <div class="main-container">
        <!-- Botón de menú para móviles -->
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/estilistaa.png') }}" alt="usuario">
                </div>
            </div>
            <div class="campos">
            <ul>
                <li>
                    <a href="{{ url_for('estilistas.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/tijeras.png') }}" alt="Inicio">
                        ESTILISTAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('categoria.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('producto.indexproductos') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/campana.png') }}" alt="Inicio">
                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cita.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">
                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('servicio.index_admin') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/servicio.png') }}" alt="Inicio">
                        SERVICIOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.lista_usuarios') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/personas.png') }}" alt="Inicio">
                        CLIENTES
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="tabla">
            <div class="listas">
                <h1>LISTA DE SERVICIOS</h1>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>IMAGEN</th>
                    <th>ACCIONES</th>
                </tr>
                {% for servicio in data %}
                    <tr>
                        <td>{{ servicio.idservicio }}</td>
                        <td>{{ servicio.nombre }}</td>
                        <td>{{ servicio.descripcion }}</td>
                        <td>
                            <img src="{{ url_for('static', filename='uploads/' ~ servicio.imagen) }}" alt="{{ servicio.nombre }}" width="100">
                        </td>
                        <td>
                            <a class="btn-edit" href="{{ url_for('servicio.edit', idservicio=servicio.idservicio) }}">EDITAR</a>
                            <a class="btn-delete" href="{{ url_for('servicio.delete', idservicio=servicio.idservicio) }}">ELIMINAR</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="link-container">
            <a href="{{ url_for('servicio.add') }}" class="styled-link">AGREGAR</a>
        </div>
    </div>

    <script>
        function toggleMenu() {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("show");
        }
    </script>
</body>
</html>