<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='lista.css') }}" rel="stylesheet">
    <title>Agenda</title>
</head>
<body>
    <header>
        <h2>LunArt Beauty</h2>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <nav class="fondo">
            <ul id="nav-menu">
                <li><a href="{{ url_for('servicio.index') }}">SERVICIOS</a></li>
                <li><a href="{{ url_for('categoria.index_cliente') }}">CATALOGOS</a></li>
                <li><a href="{{ url_for('contact.enviar_contacto') }}">CONTACTO</a></li>
                <li><a href="{{ url_for('cita.index_user') }}">CITAS</a></li>
            </ul>
        </nav>    
    </header>
    <h1>AGENDAR CITA</h1>
    <form action="{{ url_for('cita.add') }}" method="post">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>

        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora" required>

        <label for="cliente">Nombre Cliente:</label>
        <input class="text" id="cliente" name="cliente" required>

        <label for="servicio">Tipo de servicio:</label>
        <select id="servicio" name="servicio_id" required>
            {% for servicio in data %}
                <option value="{{ servicio.idservicio }}">{{ servicio.nombre }}</option>
            {% endfor %}
        </select><br>


        <label for="estilista">Estilista:</label>
        <select id="estilista" name="estilista_id" required>
            {% for estilista in data1 %}
                <option value="{{ estilista.idEstilista }}">{{ estilista.nombre }}</option>
            {% endfor %}
        </select><br>
        
        <button type="submit">AGENDAR</button>
    </form>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("nav-menu");
            menu.classList.toggle("show");
        }
    </script>
</body>
</html>
