<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexcita.css') }}">
    <title>Citas</title>
</head>
<body>
    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/estilistaa.png') }}" alt="usuario">
                </div>
            </div>
            <div class="campos">
            <ul>
                <li>
                    <a href="{{ url_for('estilistas.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/tijeras.png') }}" alt="Inicio">
                        ESTILISTAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('categoria.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('producto.indexproductos') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/campana.png') }}" alt="Inicio">
                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cita.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">
                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('servicio.index_admin') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/servicio.png') }}" alt="Inicio">
                        SERVICIOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.lista_usuarios') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/personas.png') }}" alt="Inicio">
                        CLIENTES
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="contenedor">
    <div class="titulo">
        <h1>LISTA DE CITAS</h1>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>FECHA</th>
            <th>HORA</th>
            <th>CLIENTE</th>
            <th>SERVICIO</th>
            <th>ESTILISTA</th>
        </tr>
        {% for cita in data %}
            <tr>
                <td>{{ cita.idcita }}</td>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora }}</td>
                <td>{{ cita.cliente }}</td>
                <td>{{ cita.servicio.nombre }}</td>
                <td>{{ cita.estilista.nombre }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
