<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexuser.css') }}">
    <title>Servicios</title>
</head>
<body>
    <header>
        <h2>LunArt Beauty</h2>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <nav class="fondo">
            <ul id="nav-menu">
                <li><a href="{{ url_for('servicio.index') }}">SERVICIOS</a></li>
                <li><a href="{{ url_for('categoria.index_cliente') }}">CATALOGOS</a></li>
                <li><a href="{{ url_for('contact.enviar_contacto') }}">CONTACTO</a></li>
                <li><a href="{{ url_for('cita.index_user') }}">CITAS</a></li>
            </ul>
        </nav>    
    </header>
    <div class="tabla">
            <h1>LISTA DE CITAS</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>HORA</th>
                <th>CLIENTE</th>
                <th>ESTILISTA</th>
                <th>SERVICIO</th>
                <th>ACCIONES</th>
            </tr>
            {% for cita in data %}
                <tr>
                    <td>{{ cita.idcita }}</td>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    <td>{{ cita.cliente }}</td>
                    <td>{{ cita.estilista.nombre }}</td>
                    <td>{{ cita.servicio.nombre }}</td>
                    <td>
                        <a class="btn-edit" href="{{ url_for('cita.edit', idcita=cita.idcita) }}">EDITAR</a>
                        <a class="btn-delete" href="{{ url_for('cita.delete', idcita=cita.idcita) }}">ELIMINAR</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('cita.add') }}" class="styled-link">AGENDAR</a>
    </div>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("nav-menu");
            menu.classList.toggle("show");
        }
    </script>
</body>
</html>