.sidebar {
    position: fixed; /* Hace que el aside quede fijo al lado izquierdo de la pantalla */
    left: 0; /* Asegura que se alinee al borde izquierdo */
    top: 0; /* Asegura que se alinee al borde superior */
    width: 330px; /* Asegura un ancho fijo */
    height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la pantalla */
    background-color: rgba(230, 228, 228, 0.642);
    box-shadow: 2px 0 5px rgba(156, 50, 50, 0.1);
    padding: 50px;
    padding-top: 3%;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0; /* Añadir un borde para destacarlo */
}

.profile {
    text-align: center;
}
.profile h3 {
    font-size: 2.9rem;
    font-family: 'Arizonia';
}
.profile img {
    width: 80; 
    height: 80px; 
    border-radius: 10%;
    margin-bottom: 10px;
}
.campos {
    top: 0%;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 90px; 
}
.sidebar ul li {
    margin: 30px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: flex-start; /* Cambia center a flex-start */
    border-radius: 17px;
    transition: background 0.3s, color 0.3s;
}
.sidebar ul li a .icon {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px; /* Ajusta el tamaño del icono */
    margin-right: 15px; /* Ajusta el espacio entre el icono y el texto */
}
.sidebar ul li a:hover {
    background-color: #eed4ddde;
    color: #000000;
}
.content {
    width: 65%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 28%;
    margin-left: 27%;
}
.content h1 {
    text-align: center; /* Centra el título */
    margin: 0 auto; /* Ajusta el margen */
    margin-top: 6%; /* Espacio superior */
    width: 90%; /* Asegura que el título ocupe todo el ancho */
    margin-left: 2%;
    font-size: 3.1em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 4%;
}
.content form {
    width: 100%;
    max-width: 500px; /* Define el tamaño máximo del formulario */
    margin: 0 auto; /* Centra el formulario en su contenedor */
    padding: 20px;
    margin-top: 5%;
    background-color: #a0a3a338; /* Fondo claro para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}
.content form label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #b65f8c; /* Color de texto más oscuro */
}
.content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
}
.content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
}
.boton {
    background: linear-gradient(to right, #d46e9a, #0a0a0a); /* Gradiente de fondo */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    margin: 10px 0; /* Espaciado entre enlaces */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave al hacer hover */
    margin-left: 40%;
    text-align: center;
    display: inline-block;

}