@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    font-family: 'Alex+Brush&display';
    font-style: italic; /* Agregado para cursiva */
    color: #050505;
    background-color: #fbfafa;
}
.cart-icon {
    font-size: 1.5em;
    color: #df0505; 
    margin-left: 20px;
}
.cart-icon:hover {
    color: #f39c12;
}
.header {
    background-color: #cccccc;
    color: #050505;
    padding: 20px 0;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
 h2 {
    font-size: 3.1rem;
    font-weight: bold;
    font-family: 'Arizonia';
    color: #000000; /* Color del texto de la marca */
}

.header .menu a {
    color: #050505;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s;
}

.header .menu a:hover {
    color: rgb(212, 110, 154);
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 150px auto 30px; /* Aumentamos el margen superior a 150px */
    padding: 0 20px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    border-radius: 20px; /* Bordes redondeados */
}

.header-img {
    flex: 1;
    padding: 20px;
}

.header-img img {
    max-width: 100%;
    border-radius: 20px; /* Bordes redondeados para la imagen */
    transition: transform 0.3s; /* Animación de transformación */
}

.header-img img:hover {
    transform: scale(1.05); /* Agrandar un poco al pasar el ratón */
}

.header-txt {
    text-align: center;
    flex-basis: 50%;
    padding: 20px; /* Espacio adicional para centrar el contenido */
}

.header-txt h1 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Georgia', serif; /* Fuente elegante */
    margin-bottom: 15px;
    color: #d46e9a; /* Color más llamativo */
}

.header-txt p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.header-txt .btn-1 {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(to right, #d46e9a, #0a0a0a); /* Gradiente de fondo */
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    transition: background 0.3s, transform 0.3s;
}

.header-txt .btn-1:hover {
    background: linear-gradient(to right, #0f0d0a, #d46e9a);
    transform: scale(1.05); /* Agrandar un poco el botón */
}

/* Responsividad */
@media (max-width: 760px) {
    .header .container {
        flex-direction: column;
    }

    .header-content {
        flex-direction: column;
    }

    .header-txt h1 {
        font-size: 50px; /* Reducir el tamaño en pantallas más pequeñas */
    }
}

body {
    line-height: 1.6;
    font-family: 'Alex+Brush&display';
    font-style: italic; /* Agregado para cursiva */
    color: #050505;
    background-color: #ffffffb6;
    padding-top: 130px; /* Espacio extra para evitar que el contenido quede detrás del header */
}

/* Sección de ancho completo */
.full-width-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 50px 0;
    background-color: #fffcfcb6;
    color: #000000;
    width: 100%;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.section-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.section-image img {
    width: 100%;
    height: auto;
    max-width: 360px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.section-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.section-text h3 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.section-text h3 span {
    color: rgb(1, 1, 1);
}

.section-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-gym {
    display: inline-block;
    background: linear-gradient(to right, #d46e9a, #0a0a0a); /* Gradiente de fondo */
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s;
}

.btn-gym:hover {
    background-color: darkred;
    transform: scale(1.05);
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
        text-align: center;
    }

    .section-text {
        padding: 0;
    }

    .section-image img {
        max-width: 100%;
    }
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.cart-icon {
    font-size: 1.5em;
    color: #df0505; 
    margin-left: 20px;
}

.cart-icon:hover {
    color: #f39c12;
}

header {
    background-color: #eaeaea; /* Fondo gris claro */
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%;
    height: 100px;
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    z-index: 1000; /* Asegura que el header quede por encima del contenido */
    display: flex;
    align-items: center;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

h2 {
    font-family: 'Arizonia', cursive;
    color: #000000; /* Color suave */
    margin: 0;
    font-size: 2.4em;
    margin-left: 10%;
}

.fondo ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.fondo ul li {
    margin: 0 15px;
    display: inline-block;
    margin-top: 3%;
}

.fondo ul li a {
    text-decoration: none;
    color: #444343; /* Color de texto apagado */
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.fondo ul li a:hover {
    color: #b5838d; 
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 150px auto 30px; /* Aumentamos el margen superior a 150px */
    padding: 0 20px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    border-radius: 20px; /* Bordes redondeados */
    margin-top: 6%;
}

/* Ajustes generales para responsividad */
@media (max-width: 768px) {
    body {
        padding-top: 80px; /* Reducir el padding superior en pantallas pequeñas */
    }

    header {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    h2 {
        font-size: 2em;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .fondo ul {
        flex-direction: column;
        align-items: center;
    }

    .fondo ul li {
        margin: px 0;
    }

    .header-content {
        margin-top: 20px;
        flex-direction: column;
    }

    .header-img, .header-txt {
        flex-basis: 100%;
    }

    .header-txt h1 {
        font-size: 24px;
    }

    .header-txt p {
        font-size: 1rem;
    }

    .section-content {
        flex-direction: column;
    }

    .section-image img {
        max-width: 100%;
    }

    .section-text h3 {
        font-size: 2rem;
    }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
    h2 {
        font-size: 1.8em;
    }

    .header-txt h1 {
        font-size: 20px;
    }

    .btn-1, .btn-gym {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.fondo ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.fondo ul li {
    margin: 0 15px;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    top: 100%;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block !important;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .fondo ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #eaeaea;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .fondo ul.show {
        display: flex;
    }

    .fondo ul li {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .fondo ul li a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .fondo ul li:last-child a {
        border-bottom: none;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        background-color: transparent;
        width: 100%;
    }

    .dropdown-content a {
        padding: 10px;
        font-size: 14px;
    }
}

/* ... (resto de los estilos) ... */