<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexestilista.css')}}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Lista de Estilistas</title>
</head>
<body>
    <div class="main-container">
        <!-- Botón de menú para móviles -->
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/estilistaa.png') }}" alt="usuario">
                </div>
            </div>
            <div class="campos">
            <ul>
                <li>
                    <a href="{{ url_for('estilistas.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/tijeras.png') }}" alt="Inicio">
                        ESTILISTAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('categoria.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('producto.indexproductos') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/campana.png') }}" alt="Inicio">
                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cita.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">
                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('servicio.index_admin') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/servicio.png') }}" alt="Inicio">
                        SERVICIOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.lista_usuarios') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/personas.png') }}" alt="Inicio">
                        CLIENTES
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="titulo">
            <h1>LISTA DE ESTILISTAS</h1>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>TELEFONO</th>
                <th>ACCIONES</th>
            </tr>
            {% for estilista in dataE %}
                <tr>
                    <td>{{ estilista.idEstilista }}</td>
                    <td>{{ estilista.nombre }}</td>
                    <td>{{ estilista.telefono }}</td>
                    <td>
                        <a class="btn-edit" href="{{ url_for('estilistas.edit', idEstilista=estilista.idEstilista) }}">EDITAR</a>
                        <a class="btn-delete" href="{{ url_for('estilistas.delete', idEstilista=estilista.idEstilista) }}">ELIMINAR</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('estilistas.add') }}" class="styled-link">AGREGAR</a>
            
        </div>
    </div>
    </div>

    <script>
        function toggleMenu() {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("show");
        }
    </script>
</body>
</html>
