<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Primera Vista</title>
</head>
<body>
    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/estilistaa.png') }}" alt="usuario">
                </div>
            </div>
            <div class="campos">
            <ul>
                <li>
                    <a href="{{ url_for('estilistas.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/tijeras.png') }}" alt="Inicio">
                        ESTILISTAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('categoria.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('producto.indexproductos') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/campana.png') }}" alt="Inicio">
                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cita.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">
                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('servicio.index_admin') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/servicio.png') }}" alt="Inicio">
                        SERVICIOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.lista_usuarios') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/personas.png') }}" alt="Inicio">
                        CLIENTES
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="admin-info">
       
        <br>
        <div>
            <h1>ADMINISTRADOR-LUNART BEAUTY</h1>
        </div>
        <div class="welcome-message">
            <h2 class="bien">Bienvenido</h2>
            <p>¡Nos alegra verte de nuevo en el panel de control de <strong>Lunart Beauty</strong>  Aquí podrás gestionar de manera eficiente todos los aspectos de tu salón de belleza. Desde la administración de productos y servicios hasta la gestión de citas y clientes, este panel te proporciona todas las herramientas necesarias para mantener el negocio en funcionamiento y ofrecer la mejor experiencia a tus clientes.</p>
            <p>No olvides revisar las últimas notificaciones y estar al tanto de las actualizaciones importantes. Si necesitas asistencia, no dudes en consultarnos en la sección de ayuda.</p>
            <p>¡Que tengas un excelente día de trabajo!</p>
        </div>
        
    </div>
</body>
</html>
